.wrapper{
  display: flex;
  justify-content: center;
}

.content{
    height: 100vh;
}

.about-container{
    height: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("../../assets/whosectionimg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative; 
    z-index: -1;
}

.about-container::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgb(0 0 0 / 61%);
    z-index: -1; 
}

.about-container__info{
    padding: 0% 14%;
    width: 75%;
    text-align: center;
}

.about-container h2{
    padding-bottom: 2px;
}

.about-info__titulo{
    font-size: 3.625rem;
    color: #FFF;
    font-weight: bold;
}

.about-info__subtitulo{
    font-size: 1.25rem; 
    color: #E74C3C; 
    margin-top: -10px; 
    margin-bottom: 40px;
}

.about-info__parrafo{
    font-size: 1.125rem;
    color: #FFF; 
    line-height: 1.6;
}

.about-info__resaltado{
    margin-top: 20px; 
    color: #FFD700; 
    font-weight: bold;
}